<p id="notice"><%= notice %></p>

<%= current_voter.email %> <br />

<h2>Just voted for... <%=  current_voter.vote.candidate.name %></h2>

 <br />


<%= link_to 'Back to Results', welcome_voter_path %>



